.titulo-servicios{
    text-align: center;
    margin: 20px auto;
    h2{
        margin-bottom: 25px;
        text-decoration: underline;
        font-style: italic;
        text-shadow: 10px -10px 5px rgba( 0, 0, 0, 0.5);
    }
}
.imagenes-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
        img{
            width: 250px;
            height: 200px;
            transition: all 1s linear;
            margin: 30px;
            border-radius: 10px;
            border: 5px solid nth($colores , 2 );
            &:hover{
                transform: scale(1.2);
            }
        }
        img{
            width: 250px;
            height: 200px;
            transition: all 1s linear;
            margin: 30px;
            border-radius: 10px;
            border: 5px solid nth($colores , 2 );
            &:hover{
                transform: scale(1.2);
            }
        }
        img{
            width: 250px;
            height: 200px;
            transition: all 1s linear;
            margin: 30px;
            border-radius: 10px;
            border: 5px solid nth($colores , 2 );
            &:hover{
                transform: scale(1.2);
            }
        }
}
.preguntas-frecuentes{
    width: 100%;
    text-align: center;
    details{
        width: 80%;
        height: auto;
        margin: 20px auto;
        summary{
            font-weight: bold;
        }
        p{

        }
    }
    details{
        width: 80%;
        height: auto;
        margin: 20px auto;
        summary{
            font-weight: bold;
        }
        p{

        }
    }
    details{
        width: 80%;
        height: auto;
        margin: 20px auto;
        summary{
            font-weight: bold;
        }
        p{

        }
    }
    details{
        width: 80%;
        height: auto;
        margin: 20px auto;
        summary{
            font-weight: bold;
        }
        p{

        }
    }
}
marquee{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.808);
    font-weight: 800;
    font-style: oblique;
    text-shadow: 0px 7px 2px rgba(0, 0, 0, 0.234);
    }