$gradiente: linear-gradient(to bottom, #DFF0D8, #1E7E34);
$color-footer: linear-gradient(to bottom, #49aa25 0%, #1E7E34 40%);
$colores:black, rgba(49,97,95,1), white;
$ancho: 100px;
%grid-main{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
%grid-items{
    border: 5px solid rgba(4,142,170,0.5);
    border-radius: 10px;
    transition: ease 0.5s;
    transform: translateZ(0);
    box-shadow: -6px -6px 75px -23px rgba(0,0,0,0.62);
    -webkit-box-shadow: -6px -6px 75px -23px rgba(0,0,0,0.62);
    -moz-box-shadow: -6px -6px 75px -23px rgba(0,0,0,0.62);
}
%imagenes-flex{
    width: 200px;
    height: 170px;
    border-radius: 10px;
}
@mixin flex($flex, $justify, $align, $direction, $wrap){
display:$flex;
justify-content: $justify;
align-items: $align;
flex-direction: $direction;
flex-wrap: $wrap
}
%div-tarjetas{
    margin: 40px 60px;
        width: 250px;
        height: 305px;
        border: 5px solid rgba(49,97,95,1);
        padding: 10px;
        text-align: center;
        background-color:rgba(4,142,170,1);
        font-weight: bolder;
        font-style: italic;
        border-radius: 20px;
        transform: translateZ(0);
        transition: 0.5s ease;
        box-shadow: -20px 20px 30px 10px rgba(0, 0, 0, 0.837);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body{
    background: $gradiente;
}